snippet tag 
		<${1:tag}>
			${2}
		</$1>
	${3}

snippet html
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8" />
			<title>${1}</title>
		</head>
	<body>
		
		${2}
		
	</body>
	</html>

snippet div
	<div>
		${1}
	</div>
	${2}

snippet href
	<a href="${1}">${2}</a>
	${3}



